***ConCat the Strings Using args***

In [1]:
def conCat(seperator, *args):
    """This function seperate a tuple with a definite string

    Args:
        seperator (str): seperator

    Returns:
        tuple: tuple
    """
    
    return seperator.join(args)

In [2]:
names = ['ali', 'mamad', 'abbas', 'asghar']

In [4]:
conCat(' - ', *names)

'ali - mamad - abbas - asghar'

***How to Unpack a Dictionary?***

In [ ]:
dict = {
    'name': 'mohammadreza',
    'age': 17
}

In [ ]:
new_dict = {**dict, 'city': 'mashad'}

In [ ]:
print(new_dict)

***Unpack Dictionary in Function***

In [ ]:
def introduce(**kwargs):
    return kwargs

In [ ]:
introduce(df= 4, gfgh= 75, dhsgd= 6786)

In [ ]:
profile = {
    'name': 'Mohammadreza',
    'age': 17,
    'city': 'Mashhad'
}

In [ ]:
introduce(**profile)

***Tasks:***

In [ ]:
def plan_session(*topics):
    for topic in topics:
        print(topic)

In [ ]:
plan_session('math', 'science', 'history')

In [ ]:
def session_details(**details):
    return details

In [ ]:
detail = {
    'name': 'math',
    'date': '22-02-2025',
    'room': 15
}

In [ ]:
session_details(**detail)

In [ ]:
def combine(*topics, **details):
    for topic in topics:
        print(topic)
    for detail_key, detail_value in details.keys(), details.values():
        print(detail_key, detail_value)

In [ ]:
t = ('math', 'science', 'jabr', 'history', 'excersice')

In [ ]:
d = {
    'name': 'Advanced Python',
    'date': '22-34-5434',
    'teacher': 'ali hejazi'
}

In [ ]:
combine(*t, **d)

In [ ]:
def sum_numbers(a: int, b: int) -> int:
    """This function will adds the first number to the second number and return

    Args:
        a (int): First number that saved as argumant a
        b (int): Second number that saved ass argumant b

    Returns:
        int: The Sum of Numbers
    """ 
    
    return a + b

***Access to Doxstring:***

In [ ]:
help(sum_numbers)

In [ ]:
print(sum_numbers.__doc__)

In [ ]:
sum_numbers?

***Labmda Functions:***

In [3]:
# def simple func normally:
def square(num):
    return num **2

In [11]:
# def simple func with labmda:
square_lambda = lambda num: num **2

In [12]:
square(5)

25

In [14]:
square_lambda(5)

25

***Map:***
Execute a function on an iterable one by one!

In [15]:
numbers = [1, 2, 3, 4, 5]
power2 = lambda num: num ** 2

In [23]:
list(map(power2, numbers))

[1, 4, 9, 16, 25]

***Filter:***
Check a condition on a list one by one and return the Truthies!

In [29]:
# even number check without filter():
def is_even(num):
    return num % 2 == 0

In [35]:
# even number check with filter():
numbers = [1, 2, 3, 4, 5, 7, 8]
list(filter(lambda num: num % 2 == 0, numbers))

[2, 4, 8]

filter by sort() method:

In [47]:
sorted(
    [(1, 2), (3, -4), (-5, 6), (-8, -7)],
    key= lambda x: x[1] # take index 1 ad parameter!
)

[(-8, -7), (3, -4), (1, 2), (-5, 6)]

In [15]:
# sample use
sumFunc = lambda *args: sum(args)

sumFunc(2, 43, 45, 5)

95